:root {
  /* Root Variables for Light Mode */
  --bg-clr-1: #ffffff;
  --bg-clr-2: rgb(234, 234, 234);
  --txt-clr: #000000;

  --btn-bg: #000000;
  --btn-txt-clr: #ffffff;

  --brd-clr: #000000;

  --l-brd: 2px;
  --t-brd: 3px;

  body {
    /* Light Mode Styles */
    background-color: var(--bg-clr-1);
    color: var(--txt-clr);

    transition: none;

    margin: 0;
    padding: 0;

    div {
      min-height: 100vh;
    }
  }

  body.dark {
    /* Dark Mode Styles */
    --bg-clr-1: #121212;
    --bg-clr-2: rgb(40, 40, 40);

    --txt-clr: #ffffff;

    --btn-bg: #ffffff;
    --btn-txt-clr: #000000;

    --brd-clr: #ffffff;
  }
}

button.styled {
  background-color: var(--btn-bg);
  color: var(--btn-txt-clr);
  border: none;
}

button#themeToggle {
  background-color: transparent;
  border: none;
  color: var(--txt-clr);
}

nav {
  width: 100%;
  height: 75px;
  border-bottom: var(--t-brd) solid var(--brd-clr);
  font-size: large;

  margin: 0;
  padding: 0;

  font-size: 1.5rem;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    padding: 0;
    height: 80%;

    li {
      flex-grow: 1;
      border-right: var(--l-brd) solid var(--brd-clr);
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: var(--txt-clr);
      }

      a:hover {
        color: grey;
      }
    }

    li:last-child {
      border-right: none;
      flex-grow: 0.5;
    }
  }
}

footer {
  margin-top: auto;
  padding: 20px;
  background-color: var(--bg-clr-2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
    a {
      width: 40%;
      flex-grow: 1;
    }
  }

  span {
    text-align: center;
  }
}
